{% extends "base.html" %}

{% block title %}About Page{% endblock %}

{% block content %}

<section class="destinations">
    <h3 class="title">Who are we?</h3>
    <p>AfriMed is a team of.....</p>
    <hr>

    <ul class="grid">
      <li class="large image-2">
        <img src="/static/images/karolina-grabowska.jpg"
        class="img-fluid" alt="Sample image">
      </li>
    </ul>
  </section>
  
  <section class="contact">
    <h3 class="title" id="abc">Learn more</h3>
    <p>Want to know about <em>Afrimed</em>? Just sign up for our mailing list. No spam from us, we promise!. Have a blast!</p>
    <hr>
    <form>
      <input type="email" placeholder="Email">
      <a href="#" class="btn">Subscribe now</a>
    </form>
  </section>

  <footer>
    <p>@Copyright <a href="#">Afrimed</a>.</p>
    <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
    </ul>
  </footer>
{% endblock %}