{% extends "base.html" %}

{% block title %}About Page{% endblock %}

{% block content %}

<div class="event">
    <p><h1>Welcome to about page.</h1></p>
</div>
<section class="destinations">
    <h3 class="title">Some of our destinations:</h3>
    <p>Tired of the beach alone? Are the plains too plain? Come along with us on one of our unusual adventures with yout friends. Here are some pictures from people who have had elevated experiences with us.</p>
    <hr>

    <ul class="grid">
      <li class="large image-2">
        <img src="/static/images/karolina-grabowska.jpg"
        class="img-fluid" alt="Sample image">
      </li>
    </ul>
  </section>

{% endblock %}