{% extends "base.html" %}

{% block title %}Symptom Tracker{% endblock %}

{% block content %}

<section class="destinations">
    <h3 class="title">Resources</h3>
    <hr>
    <div class="header">
        <h2>Blog Name</h2>
      </div>
  
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg" style="height:auto;">Image
              <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="img-fluid" />
            </div>
            <p>Some text..</p>
          </div>
          <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
          </div>
          <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div>
          </div>
          <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
          </div>
        </div>
      </div>
      
      <div class="footer">
        <h2>Footer</h2>
      </div>
  </section>
  <div class="card px-3 pt-3" style="max-width: 32rem">
    <!-- News block -->
    <div>
      <!-- Featured image -->
      <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
        <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
  
      <!-- Article data -->
      <div class="row mb-3">
        <div class="col-6">
          <a href="" class="text-info">
            <i class="fas fa-plane"></i>
            Travels
          </a>
        </div>
  
        <div class="col-6 text-end">
          <u> 15.07.2020</u>
        </div>
      </div>
  
      <!-- Article title and description -->
      <a href="" class="text-dark">
        <h5>This is title of the news</h5>
  
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, iste aliquid. Sed
          id nihil magni, sint vero provident esse numquam perferendis ducimus dicta
          adipisci iusto nam temporibus modi animi laboriosam?
        </p>
      </a>
  
      <hr />
  
      <!-- News -->
      <a href="" class="text-dark">
        <div class="row mb-4 border-bottom pb-2">
          <div class="col-3">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp"
              class="img-fluid shadow-1-strong rounded" alt="Hollywood Sign on The Hill" />
          </div>
  
          <div class="col-9">
            <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
            <p>
              <u> 15.07.2020</u>
            </p>
          </div>
        </div>
      </a>
  
      <!-- News -->
      <a href="" class="text-dark">
        <div class="row mb-4 border-bottom pb-2">
          <div class="col-3">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
              class="img-fluid shadow-1-strong rounded" alt="Palm Springs Road" />
          </div>
  
          <div class="col-9">
            <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
            <p>
              <u> 15.07.2020</u>
            </p>
          </div>
        </div>
      </a>
  
      <!-- News -->
      <a href="" class="text-dark">
        <div class="row mb-4 border-bottom pb-2">
          <div class="col-3">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp"
              class="img-fluid shadow-1-strong rounded" alt="Los Angeles Skyscrapers" />
          </div>
  
          <div class="col-9">
            <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
            <p>
              <u> 15.07.2020</u>
            </p>
          </div>
        </div>
      </a>
  
      <!-- News -->
      <a href="" class="text-dark">
        <div class="row mb-4 border-bottom pb-2">
          <div class="col-3">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
              class="img-fluid shadow-1-strong rounded" alt="Skyscrapers" />
          </div>
  
          <div class="col-9">
            <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
            <p>
              <u> 15.07.2020</u>
            </p>
          </div>
        </div>
      </a>
    </div>
    <!-- News block -->
  </div>
  <footer>
    <p>@Copyright <a href="#">Afrimed</a>.</p>
    <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
    </ul>
  </footer>
{% endblock %}