<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC%7CRaleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/home.css')}}"/>
<title>{% block title %} AfriMed {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="/static/images/logo.jpeg" 
    class="img-fluid" alt="Sample image" width="90px" height="90px">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
      </nav>
<div class="container">    
    {% block content %}{% endblock %}
  </div>  
</div>
</body>
</html>