{% extends "main_base.html" %}
 
{% block title %}Home Page{% endblock %}
 
{% block content %}
 
<body>
  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>
    <h2><a href="#">Welcome to AfriMed!</a></h2>
  </header>

  <section class="hero">
    <div class="background-image">
        <img src="/static/images/rdne-stock.jpg"
            class="img-fluid" alt="Sample image">
    </div>
    <div class="hero-content-area">
      <h3>.</h3>
      <a href="/home" class="btn">I am a Patient</a>
    </div>
    <div class="hero-content-area">
        <h3>.</h3>
        <a href="/about" class="btn">I am a Doctor</a>
      </div>
    
  </section>plain

  <footer>
    <p>@Copyright <a href="http://unsplash.com/">Afrimed</a>.</p>
    <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
    <ul>
      <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
      <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
    </ul>
  </footer>

{% endblock %}